html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
  
}

.mainContainer {
  display: flex;

}

.leftContainer {
  flex: 2;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
  border: 1px solid blue;
}

.insideLeft {
  display: flex;
  flex-wrap: wrap;
}

.insideLeft button {
  float: left;
}

.middleContainer {
  flex: 3;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
  border: 1px solid blue;
}

.currentUser {
  color: white;
  background: #8577ff;
  border-radius: 7px;
  margin: 2px 0;
  padding: 5px 4px; 
}

.otherUsers {
  color: white;
  background: #140aff;
  border-radius: 7px;
  margin: 2px 0;
  padding: 5px 4px; 
}

.rightContainer {
  flex: 2;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
  border: 1px solid blue;
}

.text-box {
  margin: 0px auto;
  width: 50%;
}

